@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "RS Martins Software S/A";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Plano Piloto<br />
    Brasília, Brasil<br />
    <abbr title="Phone"></abbr>
    +55 (61) 98186-3009
</address>

<address>
    <a href="mailto:rubensszm@gmail.com">rubensszm@gmail.com</a>
</address>
